{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Wydarzenie {{event.name}} {% endblock %}
{% load bootstrap4 %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block content %}
<div class="container">
	{% if has_perm %}
    <h5>Szczegóły wydarzenia</h5><hr><br>

        <div class="row">

            <div class="col-sm-7">
                <div class="card">
                    <div class="card-body">            
                        <div class="row">
                            <div class="col-sm-61">
                            <img class='card-img-top' src="{{event.picture.url}}" alt="Event Photo">
                            </div>
                            <div class="col-sm-61">
                                <p class="card-text">    
                                    <h6>{{ event.name }}</h6>
                                    <ul>
                                    <li>Dyscyplina: <strong>{{ event.get_sport_type_display }}</strong></li>
                                    <li>Lokalizacja: <strong>{{ event.localization }}</strong></li>
                                    <li>Data: <strong>{{ event.date }}</strong></li>    
                                    <li>Godzina: <strong>{{ event.time }}</strong></li>    
                                    </ul>                                    
                                </p>
                            </div>
                        </div>

                            <div>
                                {% if user in participants %}
                                    <form method ='POST' id= 'join' action="{% url 'events-detail' event.id %}" >
                                        {% csrf_token %}
                                        <button class="btn btn-danger btn-block" type="submit">Opuść wydarzenie</button>
                                    </form>
                                {% elif event.spots_taken < event.spots %}
                                    <form method ='POST' id= 'join' action="{% url 'events-detail' event.id %}" >
                                        {% csrf_token %}
                                        <button class="btn btn-success btn-block" type="submit">Dołącz do wydarzenia</button>
                                    </form>
                                {% else %}
                                {% endif %}
                            {% if is_admin %}
								<div class="row">
                                <div class="col-sm-6">
                                    <a href="{% url 'events-update' event.id %}">
                                    <button class="btn btn-info btn-block btn-sm">Edytuj</button>
                                    </a>
                                </div>        
                                <div class="col-sm-6">
                                    <button class="btn btn-danger btn-block btn-sm" type="button" data-toggle="modal" data-target="#Modal1UsunEv">
                                        Usuń
                                    </button>
                                </div>
                            </div>
                            {% else %}
                            {% endif %}    
                            </div>    
                                        
                    </div>
                </div>    
            </div>

            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">            
                        <h6>Uczestnicy ({{event.spots_taken}}/{{event.spots}})</h6>
                        <ol class="list-group list-group">
                            {% for participant in participations %}
                                {% if user == participant.participant %}
                                    <li class='list-group-item active'> {{participant.participant}} {{ participant.participation.date_joined }}</li>
                                {% else %}
                                    <li class='list-group-item list-group-item-light'><a class="list" href="{% url 'user-detail' participant.participation.user.id %}">{{  participant.participant}} {{ participant.participation.date_joined }} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ol>        
                    </div>
                </div>
            </div>

        </div>
</div>

        <div class="modal" id="Modal1UsunEv" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Czy na pewno chcesz usunąć wydarzenie?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                        <form method="post" action="{% url 'events-delete' event.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-block" type="submit" value="Confirm">Tak</button>
                        </form>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-info btn-block" data-dismiss="modal">Nie</button>
                        </a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

	</div>

	{% else %}
	<h5>
		Wydarzenie prywatne. Nie masz uprawnień, aby tu być !
	</h5>
	    <a href="{% url 'events-list' %}" class='btn btn-info btn-block'>
            Poszukaj innych wydarzeń
        </a>
	{% endif %}
</div>
{% endblock %} 
