{% extends 'base.html' %}
{% load static %}
{% block title %} Moje Wydarzenia {% endblock %}
{% block content %}
    <script src="{% static 'events/js/main.js' %}"></script>

    <div class="container">
    <h5>Twoje wydarzenia</h5><hr><br>
    <ul class="nav nav-tabs nav-justified" id="myTab">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#all">Wszystkie</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#admin">Utworzyłeś</a>
      </li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane container active" id="all">
        {% if not object_list %}
            <a href="{% url 'events-list' %}" class='btn btn-info btn-block'>
                    Weź udział w wydarzeniu!
            </a>
        {% else %}
        <div class='card-columns'>
            {% for event in object_list %}
            <div class="card bg-light">
                <img class='card-img-top' src="{{event.picture.url}}"
                     alt="Event Photo">
                <div class="card-body">
                    <h6 class='card-title'>
                        {{ event.name }}
                    </h6><hr>
                    <p class="card-text">
                        Sport: {{ event.get_sport_type_display }}<br>
                        Lokalizacja: {{ event.localization }}<br>
                        Data: {{ event.date }}<br>
                        Uczestnicy: ({{event.spots_taken}}/{{event.spots}})<br>
                    </p>
                    <a href="{% url 'events-detail' event.id %}" class='btn btn-info btn-block'>
                        Szczegóły
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% with page='page' %}
         {% include 'includes/django-filter-pagination.html' %}
        {% endwith %}
        {% endif %}
        </div>

        <div class="tab-pane container fade" id="admin">
        {% if not is_admin_object_list %}
            <a href="{% url 'events-create' %}" class='btn btn-info btn-block'>
                    Stwórz wydarzenie!
            </a>
        {% else %}
        <div class='card-columns'>
            {% for event in is_admin_object_list %}
            <div class="card bg-light">
                <img class='card-img-top' src="{% static 'events/img/event.png' %}"
                     alt="Event Photo">
                <div class="card-body">
                    <h6 class='card-title'>
                        {{ event.name }}
                    </h6><hr>
                    <p class="card-text">
                        Sport: {{ event.get_sport_type_display }}<br>
                        Lokalizacja: {{ event.localization }}<br>
                        Data: {{ event.date }}<br>
                        Uczestnicy: ({{event.spots_taken}}/{{event.spots}})<br>
                    </p>
                    <a href="{% url 'events-detail' event.id %}" class='btn btn-info btn-block'>
                        Szczegóły
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
        {% with pagination_prefix='is_admin_' page_obj=is_admin_page_obj paginator=is_admin_paginator is_paginated=is_admin_is_paginated object_list=is_admin_object_list page='is_admin_page' %}
            {% include 'includes/django-filter-pagination.html' %}
        {% endwith %}
        {% endif %}
        </div>

    </div>
</div>
  
{% endblock %}