{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Wyszukiwarka{% endblock %}
{% block extrahead %}
{{ filter.form.media }}
{% endblock %}

{% block content %}  

<div class="container">
    <h5>Wyszukiwarka wydarzeń</h5><hr><br>
        <form class="event-filter-form" method="get">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-4">
              {% bootstrap_field filter.form.name %}
            </div>
            <div class="col-sm-4">
              {% bootstrap_field filter.form.localization %}
            </div>
            <div class="col-sm-4">
              {% bootstrap_field filter.form.sport_type %}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              {% bootstrap_field filter.form.date %}
            </div>
            <div class="col-sm-4">
              {% bootstrap_field filter.form.time %}
            </div>
            <div class="col-sm-4">
              <br>{% bootstrap_field filter.form.is_full %}
            </div>
          </div>

          {% if user.addresses.all %}
          <div class="row">
            <div class="col-sm-6">
              {% bootstrap_field filter.form.address %}
            </div>
            <div class="col-sm-6">
              {% bootstrap_field filter.form.distance %}
            </div>
          </div>

          {% else %}
          <h4>
            <span class="glyphicon">&#xe086;</span>
                Aby odnaleźć wydarzenia w Twojej okolicy
                <a href="{% url 'accounts-address-create' %}">
                    dodaj adres
                </a>
                do swojego profilu
          </h4>
          {% endif %}
          <br><button id="filter" name="filter" class="btn btn-info btn-block btn-lg" type="submit">Filtruj</button>
        </form>

        <br><h5>Wyniki wyszukiwania {{ paginator.count }}</h5><hr><br>
        <div class='card-columns'>
            {% for event in events %}
            <div class="card bg-light">
                <img class='card-img-top' src="{{event.picture.url}}" alt="Event Photo">
                <div class="card-body">
                    <h6 class='card-title'>
                        {{ event.name }}
                    </h6><hr>
                    <p class="card-text">
                        Sport: {{ event.get_sport_type_display }}<br>
                        Lokalizacja: {{ event.localization }}<br>
                        Data: {{ event.date }}<br>
                        Uczestnicy: ({{event.spots_taken}}/{{event.spots}})
                    </p>
                    <a href="{% url 'events-detail' event.id %}" class='btn btn-info btn-block'>
                        Szczegóły
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
 </div>

	
{% with page='page' %}
  {% include 'includes/django-filter-pagination.html' %}
{% endwith %}
{% endblock %}

