* {
  border-radius: 0 !important;
}
body
{
	margin : 0;
	background-color : #e9efef;	
	color : black;
    /*font-family: 'Righteous', sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-size : 20px;
	height : 100%;
}
nav
{
	font-family: 'Righteous', sans-serif;
}

.fa-lg
{
	margin : 5px;
}

.navbar-logo{
	font-size: 30px;
}
.nav-link-custom{
	height: 100%;
}

.navbar-brand
{
    padding-top: .4rem;
    padding-bottom: .7rem;
}

#navphoto
{
	height : 35px;
	width : 35px;
}

.dropdown-menu
{
	background-color : #001e33;
	border : 0;
}

.dropdown-item
{
	
	color : rgba(255,255,255,.75);
	font-size : 20px;
}

.dropdown-item:focus, .dropdown-item:hover
{
	color : white;
	background-color : #001e33;
}

h1, h6, h3, h4, h2
{
	text-align : center;
}

h4
{
	text-align : center;
	font-size : 20px;
}

h6
{
	text-align : center;
	font-size : 25px;
	font-family: 'Righteous', sans-serif;
	text-transform : uppercase;	
	margin-top : 2%;
}

h5
{
	font-family : 'Righteous', sans-serif;
	text-align : center;
	text-transform : uppercase;	
	margin-bottom : 2%;
	margin-top : 2%;
	font-size : 35px;
}

h1.sidebar
{
	text-align : center;
	font-size : 20px;
	font-family: 'Righteous', sans-serif;
	margin : 15px 0 15px 0;
}

a.sidebar
{
	color: #fff;
	background-color: #001e33;
	border-color: #001e33;
	border-radius: 10px !important;
	/* font-weight: 400; */
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	display : block;
	margin : auto;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size : 15px;
	font-family: 'Righteous', sans-serif;
	width : 95%;
}

a.sidebarDate
{
	color: white;
	background-color: none;
	border-color: #17a2b8;
	border-radius: 10px !important;
	/* font-weight: 400; */
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	margin-bottom: 5px;
	font-size : 15px;
	font-family: 'Righteous', sans-serif;
	/* width : 45%; */
}

#mySidebar
{
	background-color : #efefef;
	width : 200px;
}
	
.btn-outline-secondary
{
	padding : 0 40% 0 40%;
}

.btn-outline-danger
{
	padding : 0 40% 0 40%;
}

.container
{
	background-color : #e9efef;
	/* padding : 2%; */
	padding-top : 20px;
	font-family : 'Alegreya Sans SC', sans-serif;
	margin : auto;
	margin-bottom : 20px;
	/* padding-left : 15%;	   */
}

.form-inline .custom-select, .form-inline .input-group
{
	width: 100% !important;
}

@media only screen and (min-width: 992px) 
{
   .container
	{	
	padding-left : 200px;	  
	}
}

@media only screen and (min-width: 1530px) 
{
   .container
	{	
	padding-left : 10px;	  
	}
}

div.w3-main
{
	display: block;
}

div.event
{		
	width : 70%;
	color: #567676;
	margin : auto;
	margin-bottom : 20px;
}

a.list
{
	color : black;
}

div.card-body div.col-sm-6 
{
	margin : auto;
}

.btn
{
	margin-bottom : 5px;
}

div
{
	margin-bottom : 5px;
}

#all
{
	padding-left : 0;
}

/* div.wide */
/* {		 */
	/* width : 80%; */
	/* color : #567676; */
	/* margin : auto; */
	/* margin-bottom : 20px;	 */
/* } */

img
{	
	width: 100%;
	height: auto; 
}

.card-img-top
{
	margin : auto!important;
	display: block!important;
}

hr
{
	border-top: 1px solid #567676;
	margin : 0;
	margin-left : 10%;
	margin-right : 10%;
	padding: 5px;
}

div.title
{
	margin-top : 10px;
	margin-bottom : 10px;
	text-align : center;
}

ul.navbar-nav
{
	list-style-type: none;
	padding : 0;
	margin-left : 0;
	font-size : 22px;
}

ul
{
	list-style-type: none;
	padding : 0;
	margin-left : 0;
	/* font-size : 22px; */
}

ul.event-left{
	text-align: right;
	margin-right: 5px;
}

ul.event-right{
	text-align: left;
}
/*ul.event
{
	margin-left : 10px;
}*/

.event_button
{
	text-align : center;
}
.event_button button
{
	margin-top : 10px;
	margin-bottom : 10px;
	font-size: 18px;
	cursor: pointer;
	padding: 5px;
	display : inline-block;
	width : 80%;
}

div.pagi
{
	padding-top : 10px;
	text-align : center;
}

.media-body
{
	text-align : center;
}


footer
{
	width : 100%;
	font-size: 55px;
	font-weight: 700;
	background-color: #002233;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	color : #efefef;
	text-align : center;
}

.event-logo{
	width: 230px;
	height: 230px;
}
.card-custom{
	width: 60%;
	text-align: center;
	background-color : #d8dede;	
}
.card-title-custom{
	text-align: center;
}
div.profile
{
	margin : auto;
	width : 70%;
	height : auto;
	display : table;
	border-width : 8px;
	border-style : inset;
	margin-bottom : 10px;
	color: #567676;
	border: 1px solid #567676;
	overflow : hidden;
	padding : 3%;
}

img.profile
{
	width : 30%;
	height : auto;
	padding : 15px 15px 15px 15px;
	margin-left : 10%;
	float : left; 
}

div.profilelist
{
	font-size : 80%;
	width : 80%;
	margin : auto;
	overflow : colapse;
	/* w rozmiarze minimalnym okna width ustawić na 100% */
}

div.profileedit
{
	margin : auto;
	width : 80%;
	overflow : hidden;
	clear : both;
}

div.comment
{		
	margin-left : auto;
}

div.comment1
{		
	margin-left : 30px;
	border: 1px solid #567676;
	width : 90%;
	color: #567676;
	margin : auto;
	padding : 1% 3% 1% 3%;
	margin-bottom : 20px;
	overflow : hidden;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button 
{
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
}

/* The popup form - hidden by default */
.form-popup 
{
    display: none;
    position: fixed;
    top : 80px;
    right: 15px;
    border: 3px solid #002233;
    z-index: 9;
}

/* Add styles to the form container */
.form-container 
{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] 
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #002233;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background : #333;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.card-body
{
	padding : 5%;
}

ol
{
	padding-left : 10%;
}

.list-group-item
{
	text-align : center;
	padding : 2% 0 2% 0;
}

.rating 
{
  display: inline-block;
  position: relative;
  height: 150%;
  line-height: 150%;
  font-size: 150%;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

div.rate
{
	text-align : center;
	margin-top : 20px;
	/* display : block; */
}

div.rate1
{
	text-align : center;
	/* display : block; */
}

#ocena
{
	text-align : center;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input 
{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #17a2b8;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
  
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #17a2b8; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #efefef; 
    -webkit-box-shadow: inset 0 0 6px #17a2b8; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #17a2b8; 
}

div.w3-teal
{
	/* position: -webkit-sticky; */
	position: sticky;
	top: 50px;
	z-index: 1020;
}


.col-sm-61
{
	-ms-flex: 0 0 50%;
	flex: 0 0 100%;
	max-width: 100%;
	padding : 10px;	
}

@media (max-width: 1199.98px) 
{ 
	.col-sm-6
	{
		-ms-flex: 0 0 50%;
		flex: 0 0 100%;
		max-width: 100%;
		/* padding-left : 20px;	 */
	} 
}

#id_registration-picture
{
	cursor: pointer;
	display: block;
	width: 100%;
	font-weight: 400;
}

.alert
{
	text-align : center;
}

