{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	{% block includes %}
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=True %}
	{% endblock %}
	{% block extrahead %}
	{% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gdzie jest grane? {% block title%} {% endblock %}</title>
		

	<link href='http://fonts.googleapis.com/css?family=Righteous&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	<link rel="stylesheet" type='text/css' href="{% static 'css/main.css' %}">
  </head>
  <body>
	
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:#001e33">
		{% if user.is_authenticated %}				
		<button class="navbar-toggler" type="button" data-toggle="collapse" onclick="w3_open()"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></button>
		<a class="navbar-brand mx-auto btn-lg" href="{% url 'events-list' %}">Gdzie jest grane? </a> 			
		{% else %}
		<a class="navbar-brand mx-auto btn-lg" href="{% url 'home' %}">Gdzie jest grane? </a>
		{% endif %}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
		</button>
		
		
		
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<li class="dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> Wydarzenia<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{% url 'events-list' %}">Wszystkie</a></li>
						<li><a class="dropdown-item" href="{% url 'events-my' %}">Moje</a></li>
						<li><a class="dropdown-item" href="{% url 'events-create' %}">Stwórz</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> Grupy<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{% url 'groups-list' %}">Wszystkie</a></li>
						<li><a class="dropdown-item" href="{% url 'groups-my' %}">Moje</a></li>
						<li><a class="dropdown-item" href="{% url 'groups-create' %}">Stwórz</a></li>
					</ul>
				</li>   
				<li class="dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> Obiekty<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{% url 'localizations-list' %}">Wszystkie</a></li>
						<li><a class="dropdown-item" href="{% url 'localizations-my' %}">Moje</a></li>
						<li><a class="dropdown-item" href="{% url 'localizations-create' %}">Stwórz</a></li>
					</ul>
				</li>		
			</ul>
			<ul class="navbar-nav ml-auto navbar-right">
				{% if user.is_authenticated %}
				<li><a class="nav-link" href="{% url 'profile' %}"><img class='rounded-circle' id="navphoto" src="{{ user.picture.url }}" alt="Profile Photo"> {{ user.email }}</a></li>
				<li><a class="nav-link" href="{% url 'logout' %}">Wyloguj</a></li>
				{% endif %}
			</ul>
		  </div>  
	</nav>

	<!-- Opcja 2 - na stałe -->
	{% if user.is_authenticated %}
	<script type="text/javascript">
	$(document).ready(function(){
	  console.log($('#mySidebar').attr('data-href'))
	  $.ajax({
        url: $('#mySidebar').attr('data-href'),
        method: 'GET',
		dataType: 'html',
        success: function(data){
          console.log("get_events: success")
		   $('#mySidebar').html(data);
        },
        error: function(errorData){
          console.log("get_events: error")
          console.log(errorData)
        }
      })

	})
	</script>

	<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left"
         data-href="{% url 'get_my_events' %}" id="mySidebar">
	</div>
		
	<!-- <div class="w3-main" style="margin-left:200px" ></div> -->
	<!-- <div class="w3-teal"> -->
	  <!-- <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button> -->
	<!-- </div> -->
	{% endif %}
	
	
	
	
	
	{% if messages %}
		{% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}    
	{% endif %}
	{% block content %}{% endblock %}
		
	<!-- <footer> -->
		<!-- Stopka -->
	<!-- </footer> -->
	
	
    <!-- Optional JavaScript -->
	<script>
	
		function w3_open() {	
			var sidebar = document.getElementById("mySidebar");
			if (window.getComputedStyle(sidebar, null).getPropertyValue("display") == "none")
			{
			sidebar.style.display = "block";
			}
			else
			{
			sidebar.style.display = "none";
			}		
		}

		<!-- function w3_close() { -->
		  <!-- document.getElementById("mySidebar").style.display = "none"; -->
		<!-- } -->
	</script>

	<script>
		function openForm() {
			if(document.getElementById("myForm").style.display = "none")
			{
			document.getElementById("myForm").style.display = "block";
			}
			else
			{
			document.getElementById("myForm").style.display = "none";
			}
		}

		function closeForm() {
		  document.getElementById("myForm").style.display = "none";
		}
	</script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
	
  </body>
  
</html>
