<!-- <button class="w3-bar-item w3-button w3-dark-grey w3-hide-large" id="calendar" style="font-family:'Righteous', sans-serif;'" onclick="w3_close()">Close &times;</button> -->
<h1 class="sidebar">Twoje wydarzenia</h1><hr>
{% for event in user_events %}
<a class='sidebarDate'>{{ event.date }}</a>
<a href="{% url 'events-detail' event.id %}" class='sidebar'>{{ event.name }}</a>
{% endfor %}