{% extends 'base.html' %}
{% block title %} - Grupa {{ group.name }} {% endblock %}
{% block content %}

    <div class="container">
        <h5>Szczegóły grupy</h5><hr><br>
        <div class="row">

            <div class="col-sm-4">
                <div class="card">
                <img class='card-img-top' src="{{group.picture.url}}" alt="Group Photo">
                    <div class="card-body">
                        <h6 class="card-title">{{ group.name }}</h6>
                        <p class="card-text">
                            <ul>
                            <li>Dyscyplina: <strong>{{ group.get_sport_type_display }}</strong></li>
                            <li>Data utworzenia: <strong>{{ group.date_created }}</strong></li>
                            </ul>

                                {% if is_member %}
                                <form method ='POST' id= 'join' action="{% url 'groups-detail' group.id %}" >
                                    {% csrf_token %}
                                    <button class="btn btn-danger btn-block" type="submit">Opuśc grupę</button>
                                </form>
                                {% else %}
                                <form method ='POST' id= 'join' action="{% url 'groups-detail' group.id %}" >
                                    {% csrf_token %}
                                    <button class="btn btn-success btn-block" type="submit">Dołącz do grupy</button>
                                </form>
                                {% endif %}
                            {% if is_admin %}
                                <div class="row">
                                <div class="col-sm-6">
                                    <a href="{% url 'groups-update' group.id %}">
                                    <button class="btn btn-info btn-block btn-sm">Edytuj</button>
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-danger btn-block btn-sm" type="button" data-toggle="modal" data-target="#Modal1UsunGr">
                                        Usuń
                                    </button>
                                </div>
                            </div>
                            {% else %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div><br>

            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h6>Członkowie ({{ object_list|length }})</h6>

                        <ol class="list-group list-group">
                            {% for member in members_object_list %}
                                {% if user == member %}
                                    <li class='list-group-item active'>
                                        {{ member.email }}
                                    </li>
                                {% else %}
                                    <li class='list-group-item list-group-item-light'>
                                        <a class="list" href="{% url 'user-detail' member.id %}">
                                            {{ member.email }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ol>

                            {% with pagination_prefix='members_' page_obj=members_page_obj paginator=members_paginator is_paginated=members_is_paginated object_list=members_object_list page='members_page' %}
                                {% include 'includes/django-filter-pagination.html' %}
                            {% endwith %}

                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h6>Wydarzenia ({{ events|length }})</h6>

                        <ol class="list-group list-group">
                            {% for event in events %}
                                <a href="{%url 'events-detail' event.id %}">
                                    <li class='list-group-item list-group-item-light'>
                                        {{ event.name }}
                                    </li>
                                </a>
                            {% endfor %}
                        </ol>

                            {% with pagination_prefix='events_' page_obj=events_page_obj paginator=events_paginator is_paginated=events_is_paginated object_list=events_object_list page='events_page' %}
                                {% include 'includes/django-filter-pagination.html' %}
                            {% endwith %}
                        {% if is_member %}
                            <a href="{% url 'events-create-group' group.id %}" class='btn btn-info btn-block'>
                                Stwórz wydarzenie
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="Modal1UsunGr" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Czy na pewno chcesz usunąć grupę?</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                    <form method="post" action="{% url 'groups-delete' group.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-block" type="submit" value="Confirm">Tak</button>
                    </form>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-info btn-block" data-dismiss="modal">Nie</button>
                    </a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %} 