{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block title %} - Utwórz grupę!{% endblock %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block content %}
   <div class="container">
		<h5>Dodaj nową grupę</h5><hr><br>
		<div class="card">			
			<div class="card-body">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-6">
						  {% bootstrap_field form.name %}
						</div>
						<div class="col-sm-6">
						  {% bootstrap_field form.sport_type %}
						</div> 	
						<div class="col-sm-6">
						  {% bootstrap_field form.picture %}
						</div>
					 </div>
					 <br>
                    <button class="btn btn-info btn-block btn-lg" type="submit">
                        Stwórz
                    </button>
				</form>

			</div>
		</div>	
    </div>
{% endblock %}
