{% extends 'base.html' %}
{% block title %} Grupy {% endblock %}

{% block content %}
    <div class="container">
        <h5>Lista wszystkich grup</h5><hr><br>
        <div class='card-columns'>
            {% for group in object_list %}
                <div class="card bg-light">
                    <img class='card-img-top' src="{{group.picture.url}}" alt="Event Photo">
                    <div class="card-body">
                        <h6 class='card-title'>
                            {{ group.name }}
                        </h6>
                        <hr>
                        <p class="card-text">
                            Sport: {{ group.sport_type }}
                            <br>
                            Data utworzenia: {{ group.date_created }}
                        </p>
                        <a href="{% url 'groups-detail' group.id %}" class='btn btn-info btn-block'>
                            Szczegóły
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'includes/pagination.html' %}

{% endblock %}