{% extends 'base.html' %}
{% load static %}
{% block title %} Moje Grupy {% endblock %}


{% block content %}
    <script src="{% static 'groups/js/main.js' %}"></script>
    <div class="container">
        <h5>Twoje grupy</h5><hr><br>

        <ul class="nav nav-tabs nav-justified" id="myTab">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all">Wszystkie</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#admin">Utworzyłeś</a>
          </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane container active" id="all">

                {% if not object_list %}
                    <br><h3>Nie należysz jeszcze żadnej grupy. Możesz to zmienić klikając w przycisk poniżej</h3><br>
                    <a href="{% url 'groups-list' %}" class='btn btn-info btn-block'>
                            Dołącz do grupy!
                    </a>

                {% else %}
                    <div class='card-columns'>
                        {% for group in object_list %}
                          <div class="card bg-light">
                                <img class='card-img-top' src="{{group.picture.url}}" alt="Group Photo">
                                <div class="card-body">
                                    <h6 class='card-title'>
                                        {{ group.name }}
                                    </h6><hr>
                                    <p class="card-text">
                                        {{ group }}
                                    </p>
                                    <a href="{% url 'groups-detail' group.id %}" class='btn btn-info btn-block'>
                                        Szczegóły
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {% with page='page' %}
                     {% include 'includes/django-filter-pagination.html' %}
                    {% endwith %}

                {% endif %}
            </div>

             <div class="tab-pane container fade" id="admin">
                {% if not is_admin_object_list %}
                    <br><h3>Nie utworzyłeś jeszcze żadnej grupy. Możesz to zrobić klikając w przycisk poniżej</h3><br>
                    <a href="{% url 'groups-create' %}" class='btn btn-info btn-block'>
                            Stwórz grupę
                    </a>

                {% else %}
                    <div class='card-columns'>

                        {% for group in is_admin_object_list %}
                            <div class="card bg-light">
                                <img class='card-img-top' src="{{group.picture.url}}" alt="Group Photo">
                                <div class="card-body">
                                    <h6 class='card-title'>
                                        {{ group.name }}
                                    </h6><hr>
                                    <p class="card-text">
                                        {{ group }}
                                    </p>
                                    <a href="{% url 'groups-detail' group.id %}" class='btn btn-info btn-block'>
                                        Szczegóły
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>


                    {% with pagination_prefix='is_admin_' page_obj=is_admin_page_obj paginator=is_admin_paginator is_paginated=is_admin_is_paginated object_list=is_admin_object_list page='is_admin_page' %}
                        {% include 'includes/django-filter-pagination.html' %}
                    {% endwith %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}