{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} - Aktualizuj grupę{% endblock %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block content %}
   <div class="container">
        <h5>Edytuj grupę</h5><hr><br>
        <div class="card">          
            <div class="card-body">             
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <br>
                    <button class="btn btn-info btn-block btn-lg" type="submit">
                        Zaakceptuj zmiany
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}