{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
{% block content %}
	<div class="container">		 
		
		{% if user.is_authenticated %}
			<h1> Witaj {{ user.email }} </h1>
			<a href="{% url 'logout' %}"><h1>Logout!</h1></a>
		{% else %}
		
		<div class="row">		
			<div class="col-sm-12">			
				<div class="card">				
					<div class="card-text" style="padding:2% 2% 0 2% ">	
						<div class="row">
							<div class="col-sm-8">
								<form method="post" class="form-inline" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" name="login-username" class="form-control" id="id_login-username" placeholder="Adres e-mail">

                                        <input type="password" name="login-password" class="form-control" id="id_login-password" placeholder="Hasło">
                                    </div>

							</div>
							<div class="col-sm-4">
							<button type="submit" name="{{ login_form.prefix }}" class="btn btn-info btn-block">Zaloguj</button>
							</div>
							</form> 					
						</div>	
					</div>					
				</div>				
			</div>		
		</div>
			
		
		<div class="row">
			 <div class="col-sm-7">						  
				  <div class="card">
					<div class="card-body">
					  <p>" Gdzie Jest Grane? " umożliwi Ci realizacje swojej sportowej pasji. Szukasz nowych znajomych, nowych miejsc? Dobrze trafiłeś!</p>
					</div>
					<img class="card-img-bottom" src="{% static 'accounts/img/glowna_photo.png' %}" alt="Card image">
				  </div>
			 </div>
			 
			<div class="col-sm-5">
				<div class="card">
					<div class="card-body">
					<h5>Rejestracja</h5>
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form|crispy }}
						<button class="btn btn-info btn-block btn-lg" type="submit">Zarejestruj</button>
					</form>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div> 	
		
	</div>	
{% endblock %}