{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Zaloguj się{% endblock %}
{% block content %}
	{% if not user.is_authenticated %}
        <div class='container'>

            <div class="card">
                <div class="card-body">
                <h5>Zaloguj się, aby przejść dalej!</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-info btn-block btn-lg" type="submit">Zaloguj</button>
                </form>
                </div>
                <a href="{% url 'register' %}"><h5>Zarejestruj się!</h5></a>
            </div>

        </div>
	{% else %}
		<h6>Jesteś zalogowany jako {{ user.email }}!!!</h6>
	{% endif %}
	
{% endblock %}
