{% extends 'base.html' %}
{% block title %}"You have logged out!"{% endblock %}
{% block content %}
	<div class="container">
		<a href="{% url 'login' %}"><h1>Log back in!</h1></a>
	</div>
{% endblock %}