{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Twój profil{% endblock %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block content %}
		
<div class="container">

    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'accounts/js/main.js' %}"></script>

	<h5>Twoje konto</h5><hr><br>

	<div class="row">
		<div class="col-sm-7">
			<div class="card">
				<div class="card-body">			
					<div class="row">
						<div class="col-sm-6">
						<img class='card-img-top' src="{{ user.picture.url }}" alt="Profile Photo">
						</div>
						<div class="col-sm-6">
							<p class="card-text">					
							<ul>
								<li>Nick: <strong>{{ user.nick }}</strong></li>
								<li>Adres e-mail: <strong>{{ user.email }}</strong></li>
								<li>Numer telefonu: {% if user.phone %}
                                                    <strong>{{ user.phone }}</strong></li>
                                                    {% else %}
                                                    <strong>brak</strong></li>
                                                    {% endif %}
								<li>Ulubione dyscypliny: {% if user.sports %}
                                                         <strong>{{ user.sports }}</strong></li>
                                                         {% else %}
                                                         <strong>brak</strong></li>
                                                         {% endif %}
              </ul>
							</p>	
						<button type="button" class="btn btn-info btn-block btn-sm" data-toggle="modal" data-target="#Modal1Edytuj">Edytuj</button>
						</div>						
					</div>
				</div><br>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="card">
				<div class="card-body">
					<h6> Twoje Adresy </h6>
					<ol>
						{% for address in addresses %}
						    <li> {{ address }} </li>
						{% endfor %}
					</ol>
					<a href="{% url 'accounts-address-create' %}">
					<button class="btn btn-info btn-block btn-sm">Dodaj adresy</button>
					</a>	
				</div>
			</div>
		</div>
	<!-- </div> -->
	</div>

  <div class="modal" id="Modal1Edytuj" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edytuj swoje konto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" id="modalForm">
            <form id='userUpdateForm' method="POST" enctype="multipart/form-data"  action="{% url 'profile' %}">
                {% csrf_token %}
                <div id="formm">
                {% bootstrap_form u_form %}
                </div>
                <button class="btn btn-info btn-block btn-lg" type="submit">Edytuj</button>
            </form>
        </div>
      </div>
    </div>
  </div>
 </div> 


{% endblock %} 
