{% extends 'base.html' %}
{% load bootstrap4 %}
{{ form.media }}
{% block title %} - Rejestracja{% endblock %}
{% block content %}
   <div class="container">
		<h5>Zarejestruj się!</h5><hr><br>
		<div class="card">			
			<div class="card-body">				
				<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% bootstrap_form form %}
						<button class="btn btn-info btn-block btn-lg" type="submit">
                            Zarejestruj
                        </button>
				</form>
			</div>
		</div>
    </div>
{% endblock %}
