{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block title %}{% endblock %}
        {% block content %}
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'accounts/js/main.js' %}"></script>




<div class="container">

	<h5>Użytkownik {{ user1.email }}</h5><hr><br>
	
	<div class="row">
		
	
		<div class="col-sm-7">
			<div class="card">
				<div class="card-body">			
					<div class="row">
						<div class="col-sm-6">
						<img class='card-img-top' src="{{user1.picture.url}}" alt="Profile Photo">
						</div>
						<div class="col-sm-6">
							<p class="card-text">					

							<ul>
								<li>Nick: <strong>{{ user1.nick }}</strong></li>
								<li>Adres e-mail: <strong>{{ user1.email }}</strong></li>
								<li>Numer telefonu: {% if user1.phone %}
                                                    <strong>{{ user1.phone }}</strong></li>
                                                    {% else %}
                                                    <strong>brak</strong></li>
                                                    {% endif %}
								<li>Ulubione dyscypliny: {% if user1.sports %}
                                                         <strong>{{ user1.sports }}</strong></li>
                                                         {% else %}
                                                         <strong>brak</strong></li>
                                                         {% endif %}
              </ul>
							</p>	
					
						</div>						
					</div>
				</div>
			</div>		
		</div>
		
		<div class="col-sm-4">		
				
			<div class="card">
				<div class="card-body">
				<h6>Oceń użytkownika</h6>
					<!-- <p> -->
					<div class="rate">
						<form class="rating" data-href="{% url 'user-detail' user1.id %}" method="PUT" action="{% url 'user-detail' user1.id %}">
						{% csrf_token %}
						  <label>
							<input type="radio" name="stars" value="1" />
							<span class="icon">★</span>
						  </label>
						  <label>
							<input type="radio" name="stars" value="2" />
							<span class="icon">★</span>
							<span class="icon">★</span>
						  </label>
						  <label>
							<input type="radio" name="stars" value="3" />
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
						  </label>
						  <label>
							<input type="radio" name="stars" value="4" />
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
						  </label>
						  <label>
							<input type="radio" name="stars" value="5" />
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
						  </label>
						</form>
					</div>
					<div class="rate1">
                        <span id="ocena" data-href="{% url 'get_rating' user1.id %}">
                            {{ avg }}
                        </span>
					</div>
				</div>
			</div>
		</div>
	</div>			
</div>


{% endblock %} 