{% load mytemplatetags %}
{% if is_paginated %}
<div class="pagi">
	{% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" 
      href="?{% url_replace request page 1 %}">
      Pierwsza
    </a>
    <a class="btn btn-outline-info mb-4" 
      href="?{% url_replace request page page_obj.paginator.previous_page_number %}">
      Poprzednia
    </a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
  	{% if page_obj.number == num %}
  		<a class="btn btn-info mb-4" 
        href="?{% url_replace request page num %}">
        {{ num }}
      </a>
  	{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" 
        href="?{% url_replace request page num %}">
        {{ num }}
      </a>
  	{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
  	<a class="btn btn-outline-info mb-4" 
      href="?{% url_replace request page page_obj.next_page_number %}">
      Następna
    </a>
  	<a class="btn btn-outline-info mb-4" 
      href="?{% url_replace request page page_obj.paginator.num_pages %}">
      Ostatnia
    </a>
	{% endif %}
</div>
{% endif %}