{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Dodaj adres{% endblock %}
{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
   <div class="container">
		<h5>Dodaj nowy adres</h5><hr><br>
		<div class="card">			
			<div class="card-body">				
				<form method="post">
					{% csrf_token %}
					{% bootstrap_form form %}
					<br>
                    <button class="btn btn-info btn-block btn-lg" type="submit">
                        Stwórz
                    </button>
				</form>
			</div>
		</div>
    </div>
{% endblock %}