{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} Usuń {{ object.name}} {% endblock %}

{% block content %}
   <div class="container">        
		<div class="card">
			<div class="card-body">
                <h5>Czy na pewno chcesz usunąć {{object}}?</h5><hr><br>
                    <div class="row">

                        <div class="col-sm-6">
                            <form method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger btn-block btn-lg" type="submit" value="Confirm">
                                    Tak
                                </button>
                            </form>
                        </div>

                        <div class="col-sm-6">
                            <a href="{% url 'localizations-detail' object.localization.id %}" >
                                <button class="btn btn-info btn-block btn-lg" value="Confirm">Nie</button>
                            </a>
                        </div>
                    </div>
			</div>
		</div>
    </div>
{% endblock %}