{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Stwórz Lokalizacje{% endblock %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block content %}
   <div class="container">
		<h5>Dodaj nowy obiekt</h5><hr><br>
		<div class="card">			
			<div class="card-body">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-4">
						  {% bootstrap_field form.name %}
						</div>
						<div class="col-sm-4">
						  {% bootstrap_field form.sport_type %}
						</div> 	
						<div class="col-sm-4">
						  {% bootstrap_field form.localization_url %}
						</div>
						<div class="col-sm-4">
						  {% bootstrap_field form.picture %}
						</div>
					 </div>
					 <br>
                    <button class="btn btn-info btn-block btn-lg" type="submit">
                        Stwórz
                    </button>
				</form>
			</div>
		</div>
    </div>
{% endblock %}