{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block title %} Obiekt sportowy {{localization.name}} {% endblock %}

{% block content %}
    <!--  AJAX CSRF DJANGO DOCs -->
    <script src="{% static 'js/csrf.js' %}"></script>
    <!-- ajax like -->
    <script src="{% static 'localizations/js/main.js' %}"></script>


    <div class="container">

        <h5>Szczegóły obiektu</h5><hr><br>

        <!-- <div class="event"> -->
        <div class="row">
            <div class="col-sm-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-61">
                            <img class='card-img-top' src="{{localization.picture.url}}" alt="Localization Photo">
                            </div>
                            <div class="col-sm-61">
                                <p class="card-text">
                                <h6>{{ localization.name }}</h6>
                                <ul>
                                    <li>Dyscyplina: <strong>{{ localization.get_sport_type_display }}</strong></li>
                                    <li>Lokalizacja:
                                        {% if localization.localizationaddress %}
                                        <strong>
                                            {{ localization.localizationaddress }}
                                        </strong>
                                        {% else %}
                                        <a href="{% url 'localizations-address-create' localization.id %}">
                                        <button class="badge badge-pill badge-light">Dodaj adres</button>
                                        </a>
                                        {% endif %}
                                    </li>
                                    <li>Liczba polubień: <strong><span id='like-count-span'>{{ localization.likes.count }}</span></strong></li>
                                    <li>Link: <strong><a href="{{ localization.localization_url }}" target="_blank">{{ localization.localization_url }}</a></strong></li>
                                </ul>

                                <!-- <div class="event_button"> -->
                                    <form method ='post' class= 'like-button-form'>
                                        {% csrf_token %}
                                        <button class="btn btn-success btn-block" id='like-button' type="submit"
                                        {% if user.is_authenticated and user not in localization.likes.all %}
                                        style="display: block-inline;"
                                        {% else %}
                                        style="display: none;"
                                        {% endif %}
                                        name="like-button" value="like-button">
                                            Oceń pozytywnie
                                        </button>

                                        <button class="btn btn-danger btn-block" id='dislike-button' type="submit"
                                        {% if user.is_authenticated and user not in localization.likes.all %}
                                        style="display: none;"
                                        {% else %}
                                        style="display: block-inline;"
                                        {% endif %}
                                        >Oceń negatywnie
                                        </button>
                                    </form>
                                <!-- </div>  -->
                                {% if user in admins %}
                                <br><div class="row">
                                    <div class="col-sm-6">
                                        <a href="{% url 'localizations-update' localization.id %}">
                                        <button class="btn btn-info btn-block btn-sm">Edytuj</button>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="{% url 'localizations-delete' localization.id %}">
                                        <button class="btn btn-danger btn-block btn-sm">Usuń</button>
                                        </a>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div><br>
            </div>
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h6>Komentarze</h6>

                        <form method="post">
                          {% csrf_token %}
                          {% bootstrap_form c_form %}
                          <button class="btn btn-info btn-block" type="submit" name="comment" value="comment">Dodaj</button>
                        </form>

                        <br><p>Liczba wszystkich komentarzy: <strong>{{ comments_paginator.count }}</strong></p>

                        {% for comment in comments_object_list %}
                        <div class="card bg-light text-dark">
                            <div class="card-body">
                            <p>{{ comment.user }} - {{ comment.date_created }}</p>
                            <p><strong>{{ comment.content }}</strong></p>
                            {% if user.id == comment.user_id %}
                            <div class="row">
                                <div class="col-sm-6">

                                <button class="btn btn-outline-secondary btn-sm edit" type="button" data-toggle="modal"
                                        data-href="{% url 'comment-update' comment.id %}" value="{{ comment.id }}" data-target="#Modal1EdytujKom{{ comment.id }}">Edytuj</button>
                                <div class="modal" id="Modal1EdytujKom{{ comment.id }}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Edytuj komentarz</h4>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'comment-update' comment.id %}" id="commentForm{{ comment.id }}">
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-danger btn-sm" type="button" data-toggle="modal" data-target="#Modal1UsunKom{{ comment.id }}">Usuń</button>
                                    <div class="modal" id="Modal1UsunKom{{ comment.id }}" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h4 class="modal-title">Czy na pewno chcesz usunąć komentarz?</h4>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                    <form method="post" action="{% url 'comment-delete' comment.id %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-danger btn-block" type="submit" value="Confirm">Tak</button>
                                                    </form>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-info btn-block" data-dismiss="modal">Nie</button>
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                <!-- </form> -->
                                </div>
                            </div>
                            {% endif %}
                            </div>
                        </div><br>
                        {% empty %}
                        <p>Brak komentarzy</P>
                        {% endfor %}

                        {% with pagination_prefix='comments_' page_obj=comments_page_obj paginator=comments_paginator is_paginated=comments_is_paginated object_list=comments_object_list page='comments_page' %}
                            {% include 'includes/django-filter-pagination.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 