{% extends 'base.html' %}
{% block title %} Lokalizacje {% endblock %}

{% block content %}
    <div class="container">
        <h5>Lista obiektów</h5><hr><br>
        <div class='card-columns'>
            {% for localization in localizations %}
                <div class="card bg-light">
                    <img class='card-img-top' src="{{localization.picture.url}}" alt="Event Photo">
                    <div class="card-body">
                        <h6 class='card-title'>
                            {{ localization.name }}
                        </h6><hr>
                        <p class="card-text">
                            {{ localization.localizationaddress }}
                        </p>
                        <a href="{% url 'localizations-detail' localization.id %}" class='btn btn-info btn-block'>
                            Szczegóły
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'includes/pagination.html' %}

{% endblock %}